/* Popup Styles */
body {
  font-family: monospace;
  margin: 0;
  padding: 0;
  background-color: #ffe8e3;
  color: #5c3a25;
  font-size: 14px;
}

.container {
  width: 300px;
  /* padding: 15px; */
}

h1 {
  text-align: center;
  margin: 0;
  color: #ffe8e3;
  background-color: #5c3a25;
  font-size: 24px;
  height: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 1px;
}

h2 {
  font-size: 17px;
  margin: 0 0 0.5rem 0;
  color: #5c3a25;
}

.section {
  /* background-color: #ffeedc; */
  background-color: #fff6f2;
  border-radius: 8px;
  border: 1.5px solid #5c3a25;
  padding: 12px;
  margin: 15px;
  /* box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4); */
}

/* Pet Selection */
.pet-selection {
  display: flex;
  justify-content: space-around;
}

.pet-selection label {
  display: flex;
  cursor: pointer;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 4px;
  padding: 0 1rem 0 1rem;
}

/* Sliders */
.slider-container {
  margin-bottom: 12px;
  display: flex;
  align-items: center;
}

.slider-container label {
  width: 60px;
}

.slider-container input[type="range"] {
  flex-grow: 1;
  margin: 0 10px;
}

<<<<<<< Updated upstream
/* Checkboxes */
.checkbox-container {
  margin-bottom: 8px;
=======
.radio-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
>>>>>>> Stashed changes
}

.radio-container label {
  display: flex;
  cursor: pointer;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 4px;
  padding: 0 1rem 0 1rem;
}

/* Toggle Switch */
.toggle-section {
  display: flex;
  justify-content: center;
}

.toggle {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.toggle input {
  opacity: 0;
  width: 0;
  height: 0;
}

.toggle-slider {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
  background-color: #d5d5d5;
  border-radius: 24px;
  border: 1px solid #5c3a25;
  transition: .4s;
  margin-right: 10px;
  vertical-align: middle;
}

.toggle-slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 3px;
  bottom: 3px;
  top: 2px;
  background-color: white;
  border-radius: 50%;
  border: 1px solid #5c3a25;
  transition: .4s;
}

.toggle input:checked + .toggle-slider {
  background-color: #5c3a25;
}

.toggle input:checked + .toggle-slider:before {
  transform: translateX(26px);
}

.toggle-label {
  vertical-align: middle;
  font-weight: bold;
}

/* Footer */
.footer {
  text-align: center;
  font-size: 11px;
  background-color: #5c3a25;
  color: #ffe8e3;
  margin: 0;
  padding: 2px;
  height: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
